{% extends "base.html" %}
{% load static %}
{% block css_file %}
        <link rel="stylesheet preload" as="style" href="{% static "css/preload.min.css" %}" />
        <link rel="stylesheet preload" as="style" href="{% static "css/libs.min.css" %}" />
        <style type="text/css">
            .player {
              border-radius: 10px;
              overflow: hidden;
              z-index: 1;
              height: 420px;
              width: 100%;
            }
      </style>
        <link rel="stylesheet" href="{% static "css/post.min.css" %}" />
        <script
              src="https://code.jquery.com/jquery-3.6.0.js"
              integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
              crossorigin="anonymous"></script>
{% endblock css_file %}
{% block content %}
    
         <header class="page">
            <div class="container">
                <ul class="breadcrumbs d-flex flex-wrap align-content-center">
                    <li class="list-item">
                        <a class="link" href="/">Homepage</a>
                    </li>

                    <li class="list-item">
                        <a class="link" href="{% url 'posts' %}">Lessons</a>
                    </li>
                    <li class="list-item">
                        <a class="link" href="#">{{ content.title }}</a>
                    </li>
                </ul>
                <h1 class="page_title">{{ content.title }}</h1>
            </div>
        </header>
        <!-- post content start -->
        <main>
            <div class="post section">
                <div class="container sticky-parent d-lg-flex justify-content-between align-items-start">
                    <div class="post_main">
                        <div class="post_main-article">
                            <div class="media media--main">
                                <picture>
                                    <div class="player">
<iframe width="100%" height="420" src="https://www.youtube.com/embed/{{content.video_link}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>  
                                </picture>
                            </div>
                            <div class="post_main-article_metadata">
                                <span class="item d-inline-flex align-items-center">
                                    <i class="icon-calendar icon"></i>
                                    {{content.date_added|date:"F d, Y"}}
                                </span>
                                <span class="item d-inline-flex align-items-center">
                                    Category:
                                    {{ content.category }}
                                </span>
                                <form action="{% url 'post-detail'  %}" method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
    {% else %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Like</button>
    {% endif %}
  </form>
                                 {% if content.id in already_liked %} 
                                          <span  class="main_amenities-item d-inline-flex align-items-center">
                                            <a><i data-name="{{ content.slug }}" id="like" class='likin bx bxs-like'>{{content.total_likes}}</i></a>
                                            <i name="tot_like"></i>
                                            {% else %}
                                            <a><i  data-name="{{ content.slug }}" id="like" class='likin bx bx-like'>{{content.total_likes}}</i></a> 
                                            <i name="tot_like"></i>

                                        </span>
                                    {% endif %}
                                
                                
                                
                            </div> 
                        <div class="post_main-footer">
                            {% if tags %}
                            <div class="post_main-footer_tags d-flex flex-wrap align-items-center">
                                <h4 class="title">Tags</h4>
                                <ul class="list d-flex flex-wrap align-items-center">
                                   {% for tag  in tags %}
                                       <li class="list-item">
                                        <a class="link" href="#">{{tag}}</a>
                                    </li>
                                   {% endfor %}
                                    
                                </ul>
                            </div>
                            {% endif %}
                            <div class="post_main-footer_nav d-flex flex-wrap justify-content-between">
                                <a class="nav-block nav-block--prev h5 d-inline-flex align-items-center" href="#">
                                    <span class="theme-element theme-element--light">
                                        <i class="icon-arrow_left icon"></i>
                                    </span>
                                    <span class="title">Things hostels do better than posh hotels</span>
                                </a>
                                <a class="nav-block nav-block--next h5 d-inline-flex flex-row-reverse align-items-center">
                                    <span class="theme-element theme-element--light">
                                        <i class="icon-arrow_right icon"></i>
                                    </span>
                                    <span class="title">Important Tips for Traveling with Friends</span>
                                </a>
                            </div>
                            <div class="post_main-footer_author d-sm-flex">
                                <div class="media">
                                    <picture>
                                        <source data-srcset="img/placeholder.jpg" srcset="img/placeholder.jpg" />
                                        <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg

                                        <div class="widgets_item widgets_item--recommended">
                                            <h4 class="widgets_item-header">Recommended for You</h4>
                                            <ul class="list">
                                                <li class="list-item d-flex align-items-center">
                                                    <div class="media">
                                                        <picture>
                                                            <source data-srcset="img/placeholder.jpg" srcset="img/placeholder.jpg" />
                                                            <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg" alt="media" />
                                                        </picture>
                                                    </div>
                                                    <div class="main d-flex flex-column">
                                                        <a class="main_title h5" href="#">Siyer lessons | 30th lesson Hostility of Jews to Islam</a>
                                                        <span class="main_date">June 16, 2021</span>
                                                    </div>
                                                </li>
                                                <li class="list-item d-flex align-items-center">
                                                    <div class="media">
                                                        <picture>
                                                            <source data-srcset="img/placeholder.jpg" srcset="img/placeholder.jpg" />
                                                            <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg" alt="media" />
                                                        </picture>
                                                    </div>
                                                    <div class="main d-flex flex-column">
                                                        <a class="main_title h5" href="#">Siyer lessons | 31st lesson Hostility of Jews to Islam</a>
                                                        <span class="main_date">June 16, 2021</span>
                                                    </div>
                                                </li>
                                                <li class="list-item d-flex align-items-center">
                                                    <div class="media">
                                                        <picture>
                                                            <source data-srcset="img/placeholder.jpg" srcset="img/placeholder.jpg" />
                                                            <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg" alt="media" />
                                                        </picture>
                                                    </div>
                                                    <div class="main d-flex flex-column">
                                                        <a class="main_title h5" href="#">Siyer lessons | 33rd lesson Hostility of Jews to Islam</a>
                                                        <span class="main_date">June 16, 2021</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        {% if tags %}
                                        <div class="widgets_item widgets_item--tags">
                                            <h4 class="widgets_item-header">Tags</h4>
                                            <ul class="list d-flex flex-wrap">
                                                <li class="list-item">
                                                    <a class="link underlined underlined--accent" href="#">Travel</a>
                                                </li>
                                                <li class="list-item">
                                                    <a class="link underlined underlined--accent" href="#">Room</a>
                                                </li>
                                                <li class="list-item">
                                                    <a class="link underlined underlined--accent" href="#">People</a>
                                                </li>
                                                <li class="list-item">
                                                    <a class="link underlined underlined--accent" href="#">Guide</a>
                                                </li>
                                                <li class="list-item">
                                                    <a class="link underlined underlined--accent active" href="#">Season</a>
                                                </li>
                                                <li class="list-item">
                                                    <a class="link underlined underlined--accent" href="#">City</a>
                                                </li>
                                                <li class="list-item">
                                                    <a class="link underlined underlined--accent" href="#">Sights</a>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                        
                                        <div class="widgets_item widgets_item--subscribe">
                                            <h4 class="widgets_item-header">Subscribe to Newsletter</h4>
                                            <form class="form d-flex" action="#" method="post" id="subscribe" data-type="subscribe">
                                                <input class="field required" type="text" id="subscribeEmail" data-type="email" placeholder="Email Address" />
                                                <button class="btn theme-element--accent" type="submit">
                                                    <i class="icon-arrow_right icon"></i>
                                                </button>
                                            </form>
                                        </div>
                                        
                                        <div class="widgets_item widgets_item--instagram">
                                            <h4 class="widgets_item-header">Instagram</h4>
                                            <ul class="list d-grid">
                                                <li class="list-item">
                                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                                        <picture>
                                                            <source data-srcset="img/placeholder.jpg" srcset="img/placeholder.jpg" />
                                                            <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg" alt="media" />
                                                        </picture>
                                                    </a>
                                                </li>
                                                <!-- More
                                        